@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.dropdown-open {
  display: flex;
  position: absolute;
  top: 88px;
  gap: 80px;
  background-color: rgb(220, 220, 220);
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.dropdown-closed {
  display: none;
}
